[Desktop Entry]
Type=Application
Exec=/home/ulys/bin/smart-caps-lock.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=smart-caps-lock
Name=smart-caps-lock
Comment[en_US]=
Comment=
